#wrap {
	width: 100%;
}

#open-media-modal {
	margin: 10px;
}

#attachment-details {
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 0 10px;
}

#attachment-details div {
	width: 33.3333333333%;
}

#attachment-details label {
	font-weight: 700;
}

#attachment-details input,
#attachment-details textarea {
	font-weight: normal;
}

#attachment-details textarea {
	width: 100%;
	height: 300px;
}

/**
 * Hide Sidebar
 */
.attachments-browser .media-toolbar,
.attachments-browser .attachments,
.attachments-browser .uploader-inline {
	right: 0;
}

.media-sidebar {
	display: none;
}
